

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here's where I practice MVC.</p>
</div>

<center>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width:50%;height:auto;">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/imgs/bild1.jpg" class="d-block w-100" alt="bild1" >
    </div>
    <div class="carousel-item">
      <img src="~/imgs/bild2.jpg" class="d-block w-100" alt="bild2">
    </div>
    <div class="carousel-item">
      <img src="~/imgs/bild3.jpg" class="d-block w-100" alt="bild3">
    </div>
    <div class="carousel-item">
      <img src="~/imgs/bild4.jpg" class="d-block w-100" alt="bild4">
    </div>
    <div class="carousel-item">
      <img src="~/imgs/bild5.jpg" class="d-block w-100" alt="bild5">
    </div>
    <div class="carousel-item">
      <img src="~/imgs/bild6.jpg" class="d-block w-100" alt="bild6">
    </div>
  </div>
</div>
</center>
